<h2>Cargar productos</h2>
<form action="/product" method="post">
    Nombre: <input name="name"> <br>
    Foto: <input name="photo"> <br>
    Categoría: <input name="type"> <br>

    <input type="submit" value="Create">
</form>