<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfumes</title>
</head>

<body>

    <div class="container">
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/product">Productos</a></li>
                <li><a href="/product/create">Cargar</a></li>
                <li><a href="/src/views/chat.handlebars">Chat</a></li>
            </ul>
        </nav>
        {{{ body }}}
    </div>


</body>

</html>

